html, body {
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    overscroll-behavior-y: none;
}

body.no-scroll {
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.albums {
    flex: 1;
    padding: 1.2em;
}

.photos {
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   0;
    -moz-column-count:    5;
    -moz-column-gap:      0;
    column-count:         5;
    column-gap:           0;
}

@media (max-width: 1200px) {
    .photos {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    .photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    .photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    .photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}


.photos .photo {
    margin-bottom: -1px!important;
    display: block;
    overflow: hidden;
    min-width: 270px;
    min-height: 100px;
}

.photos img {
    width: 100% !important;
    height: auto !important;
    transform: scale(1.01);
}



div.loading {
    opacity: 0;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 50vh;
    text-align: center;
    transition: opacity 250ms ease;
}

div.loading.show {
    opacity: 1;
}

img.hide {
    opacity: 0;
    pointer-events: none;
}

img.show {
    transition: opacity 350ms ease;
    opacity: 1;
}

.photo-standalone {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

a.prev, a.next {
    color: black!important;
    flex-shrink: 0;
    text-align: center;
    display: block;
    text-decoration: none!important;
    width: 25vw;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

a.prev {
    left: 0;
}

a.next {
    right: 0;
}

.photo-standalone img {
    max-width: 100vw;
    max-height: 82vh;
}

.content {
    flex: 1;
    position: relative;
}


nav {
    flex-shrink: 0;
    margin: 0;
    overflow: hidden;
    background: #333333;
    transition: 0.3s;
}

.nav-content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.nav-content a:not(.nav-icon) {
    display: block;
    font-size: 14px;
    line-height: 44px;
    text-decoration: none;
    transition: all 0.3s;
    color: #ffffff;
}

.nav-content a:hover,
.nav-icon:hover,
.search-icon:hover {
    opacity: 0.7;
}

.nav-links {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-icon {
    display: none;
    grid-gap: 5px;
    grid-template-columns: auto;
    padding: 17px 0;
    height: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.bar {
    height: 1px;
    width: 18px;
    background: white;
    transition: 0.5s;
}

.search-icon {
    cursor: pointer;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .show {
        background-color: #000000;
    }

    .nav-links {
        position: fixed;
        top: 44px;
        right: 0;
        height: 0;
        width: 100%;
        background: #333333;
        flex-direction: column;
        justify-content: flex-start;
        transition: height 2s cubic-bezier(0.19, 1, 0.22, 1),
        background-color 0.3s;
    }

    .show .nav-links {
        height: 100%;
        background-color: #000000;
    }

    .nav-links a {
        height: 0;
        width: 0;
        opacity: 0;
        overflow: hidden;
        margin-right: 50px;
        margin-left: 50px;
        transition: opacity 1.5s, height 2s;
    }

    .show .nav-links a {
        opacity: 1;
        width: auto;
        height: auto;
    }

    .nav-icon {
        order: 1;
        display: grid;
    }

    .logo {
        order: 2;
    }

    .search-icon {
        order: 3;
    }
}

.show .one {
    transform: rotate(45deg) translateY(5.5px);
}

.show .two {
    transform: rotate(-45deg) translateY(-5.5px);
}


a.logo {
    font-weight: bold;
}

p.caption {
    position: absolute;
    bottom: 5.5em;
    font-size: 22px;
    font-weight: bold;
    left: 1em;
    right: 1em;
    text-align: center;
}

a.album-link {
    position: absolute;
    bottom: 6em;
    left: 0;
    right: 0;
    text-align: center;
    color: blue;
    text-decoration: none;
}
